.flexbox-container {
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.flexbox-item {
  width: auto;
}

.flexbox-item-1 {
  margin-left: 27%;
  margin-top: 13%;
}

.flexbox-item-2 {
  margin-right: 33%;
  margin-top: 7%;
}

.homeImage {
  border-radius: 50px;
  box-shadow: 5px -5px 6px -6px #695f55;
  border-bottom: 5px solid #695f55;
  border-top: 5px solid #695f55;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.motivational-text {
  font-size: 12px;
  font-family: Copperplate, Papyrus, fantasy;
  color: #695f55;
}
