<<<<<<< HEAD
<<<<<<< HEAD
.App {
  background-color: #f7f7f7;
  min-height: 100vh;
}
=======
.App {
  background-color: #f7f7f7;
}
>>>>>>> 4a3d4c8 (modified homepage and started working on dashboard)
=======
.App {
  background-color: #f7f7f7;
}
>>>>>>> a242b1ef029c7f31fc2c2364b7ee99ed4389a9f0
